.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 10px
}

.totalContainer {
  display: flex;
  justify-content: flex-end;
}

.ingContainer {
  height: 25vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ingredient {
  display: flex;
  justify-content: space-between;
}

.leftContainer {
  display: flex;
  align-items: flex-start;
}

.rightContainer {
  display: flex;
  align-items: flex-start;
}

.pic {
  width: 5vw;
}

.icon {
  /* align-self: right; */
}

.price {
  display: flex;
  align-self: right;
  vertical-align: top;
}

.name {
  text-align: left;
}
