.mainContainer{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.columns{
    display: flex;
    gap: 36px;
}
.columns > div {
    flex: 50%;
  }
.greenText{
    color: #00CCCC;
}
.feedContainer{
    overflow-y: scroll;
    max-height: 75vh;
}
.gridContainer{
    display: grid;
    grid-auto-flow: column;
    grid-template: repeat(10, 1fr) / repeat(2, 1fr);
}