.centered{
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%);
    display:flex;
}
.sideMenu{
        /* margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); */
}
.clickableText{
    cursor: pointer;
}

.buttonsContainer{
   display: flex;
   justify-content: flex-end;
}