body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin-right: 2px;
}

div::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #1c1c21;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8585ad;
}

div::-webkit-scrollbar-thumb:hover {
  background: #8585ad;
}

div::-webkit-scrollbar-thumb:active {
  background: #8585ad;
}

/* input styling */
.input__textfield{
  margin-right: 24px !important;
}
