.ingContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 60vh;
  overflow-y: scroll;
}

.tabs{
 display: flex;
}

.ingredient {
  position: relative;
  cursor: pointer;
}

.subheader {
  text-align: left;
}

.pic {
  width: 70%;
}
